.bodyCate {
    height: 100vh;
    background-color: #a9aaac;
    color: #fff;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.navCateg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #24252a;
    padding-left: 2vw;
}

.cont-ul {
    display: flex;
    align-items: center;
}

.el,.el-first,.el-second{
    list-style: none;
    color: #ffffff; /* Cambiar el color del texto si es necesario */
    cursor: pointer;
    padding: 1.5vw;
    transition:  all .3s ease 0s;
}

.el-second a {
  text-decoration: none; /* Quitar el subrayado */
  color: #ffffff; /* Cambiar el color del texto si es necesario */
}

.el:hover,.el-first:hover,.el-second:hover {
    background-color: #a9aaac;
}

.el-first {
    position: relative;
}

.ul-second {
    display: none;
    position: absolute;
    margin-top: 1.5vw;
    z-index: 2;
}

.ul-second > li {
    width: 190px;
    transform: translateX(-20px);
    border-bottom:solid 1px #fff ;
    text-align: center;
    background-color: #24252a;
    
}

.ul-second > li:hover {
    background-color: #a9aaac;
    z-index: 100;
}

.el-first:hover > .ul-second {
    display: block;
}

.ul-third {
    position: absolute;
    transform: translateX(100%);
    right: 0;
    top: 40%;
    display: none;
    background-color: #24252a;
    padding: 0;
    z-index: 2;
}

.ul-third > li {
    padding: 1.5vw;
    border-bottom: solid 1px #fff;
}

.el-second:hover > .ul-third {
    display: block;
}
