
main{
    font-family: sans-serif; 
    margin:0;  
    background-image: url(https://www.sitew.com/images/blog/articles/site-jeux/gaming.jpeg);
}

header {
           font-size:18px; 
           display: flex; 
           justify-content: space-between; 
           background-color: black;
           height: 70px;
           align-items: center; 
           padding: 15px; 
           position: relative;
        }
        .Logo {
            display: flex; 
            align-items: center; 
            color:   #fff;
            text-decoration: none;
        }
        .NombreTienda{
            margin-left: 20px; 
        }
        .Logo img {
            height: 55px; 
        }
         a{
            color:   #fff ;
            text-decoration: none;
        }
        nav a {
            font-weight: 600; 
            padding-right: 10px;
        }
        nav a:hover{
             color:  #ffb638;
        }
        .OpcionesEncabezado{
            font-size:16px; 
            display: flex; 
            align-items: center; 
            
        }
         .OpcionesEncabezado img{
          width: 40px; 
          margin-right: 15px; 
          margin-left: 20px
        }
        .OpcionesEncabezado div{
       display: flex;
       font-size:15px;
       flex-direction: row-reverse;
       align-items: center;
    text-align: center;
    text-decoration: none;
        }