*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    background-image: url(https://d1di2lzuh97fh2.cloudfront.net/files/4c/4c5/4c5fs8.jpg?ph=4ab7110501);
}

#contenedor-cont_ubic{
    width: calc(70%);
    margin: 20px auto;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    padding: 15px;
}
#contenedor-cont_ubic>header{
    height: 75%;
    background-color: #fff;
}
#redesSociales h3{
    font-size: 30px;
    font-family: "Times New Roman", sans-serif;
    margin-left: 230px;
    max-width: 50%;
    margin-left: 170px;
}
#inforedes{
    width: 50%; /* Limita el ancho al 50% de la página */
    padding: 20px;
    max-width: 50%;
}
#contacto h1{
    font-size: 40px;
    font-weight: 500;
    color: #ccc;
    text-shadow: 0 0 5px #cc00cc,
    0 0 25px #cc00cc,
    0 0 50px #cc00cc,
    0 0 100px #cc00cc;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1s;
    margin-top: 190px;
}
#contacto::after {
    content: ""; /* Crea un elemento vacío después del contenido de #contacto */
    display: block; /* Hace que el elemento sea un bloque */
    width: 100%; /* Ancho completo del contenedor #contacto */
    border-bottom: 2px solid #000; /* Establece un subrayado de 2 píxeles de grosor en negro */
    margin-top: 30px; /* Ajusta la distancia entre la palabra y el subrayado */
    margin-bottom: 10px;
}
#imagredes1 img,
#imagredes2 img {
    border: 2px solid #000; /* Borde sólido de 2 píxeles de grosor y color negro */
    border-radius: 15%; /* Hace que las imágenes sean círculos */
    margin-top: 10px;
    margin-left: 20px;
    max-width: 50%;
    clear: both;
}
#telefono{
    position: absolute;
    margin-right: 20px;
    font-size: 30px;
    top: 0;
    margin-top: 180px;
    margin-left: 725px;
}
#infotelefono {
    position: absolute;
    margin-right: 20px;
    font-size: 30px;
    top: 0;
    margin-top: 360px;
    margin-left: 680px;
}
#infotelefono2 {
    position: absolute;
    font-size: 20px;
    top: 0;
    margin-top: 230px;
    margin-right: 290px;
    right: 0; /* Alinea el elemento a la derecha de su contenedor */
    width: 30%; /* Limita el ancho al 50% de la página */
    max-width: 30%; /* Limita el ancho máximo al 50% */
}
#horario {
    position: absolute;
    margin-right: 20px;
    font-size: 30px;
    top: 0;
    margin-top: 400px;
    margin-left: 725px;
}
#infohorario{
    position: absolute;
    font-size: 20px;
    top: 0;
    margin-top: 450px;
    margin-right: 280px;
    right: 0; /* Alinea el elemento a la derecha de su contenedor */
    width: 30%; /* Limita el ancho al 50% de la página */
    max-width: 30%;
}
#infohorario2{
    position: absolute;
    margin-right: 20px;
    font-size: 25px;
    top: 0;
    margin-top: 520px;
    margin-left: 600px;
}
#correo {
    position: absolute;
    margin-right: 20px;
    font-size: 30px;
    top: 0;
    margin-top: 590px;
    margin-left: 650px;
}
#infocorreo {
    position: absolute;
    margin-right: 20px;
    font-size: 30px;
    top: 0;
    margin-top: 800px;
    margin-left: 650px;
}
#infocorreo2 {
    position: absolute;
    font-size: 20px;
    top: 0;
    margin-top: 645px;
    margin-right: 280px;
    right: 0; /* Alinea el elemento a la derecha de su contenedor */
    width: 30%; /* Limita el ancho al 50% de la página */
    max-width: 30%; /* Limita el ancho máximo al 50% */
}
p{
    margin: 0;
}
#LogoTelefono{
    position: absolute;
    margin-right: 20px;
    font-size: 30px;
    top: 0;
    margin-top: 345px;
    margin-left: 610px;
}
#LogoCorreo {
    position: absolute;
    margin-right: 20px;
    font-size: 30px;
    top: 0;
    margin-top: 785px;
    margin-left: 580px;
}
.fijarCaja{
    clear: both;
}
#Contenedor-tiendas {
    width: 100%; 
    margin: 40px auto; 
    margin-top: 200px;
    padding: 10px;
    border: 1px solid #ccc; 
    background-color: #f9f9f9; 
    overflow-y: auto;
    box-sizing: border-box;
    clear: both;
    background-image: url(https://d1di2lzuh97fh2.cloudfront.net/files/4c/4c5/4c5fs8.jpg?ph=4ab7110501);
}
#titulotiendas{
    background-color: #e0e0e0; /* Color de fondo para el título */
    padding: 20px; /* Espaciado interno */
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    box-sizing: border-box; /* Incluye el espaciado en el ancho total */
    margin: 0; /* Elimina el margen predeterminado del encabezado */
    color: #fff;
    display: block;
    border-bottom: 2px solid #000; /* Línea de borde inferior */
    background-color: #221b1b;
}

#Listatiendas {
    margin-top: 20px;
    list-style-type: none; /* Elimina los puntos de lista */
    padding: 0;
}

#Listatiendas li {
    background-color: #e0e0e0;
    padding: 20px;
    width: 30%;
    margin: 10px auto; 
    box-sizing: border-box; 
    float: left; 
    clear: both;
}
.tienda {
    background-color: #e0e0e0;
    padding: 0;
    width: 100%;
    margin: 0 auto; 
    box-sizing: border-box; 
    float: left; 
    clear: both;
}

.tienda h3 {
    margin: 0;
}

.tienda p {
    margin: 0;
    font-size: 14px; /* Tamaño de fuente más pequeño para la descripción */
}
#mapa {
    width: 70%;
    margin-left: 400px;
}
