html{
    box-sizing: border-box;
    font-size: 60.5%;
}

*,*::before,*::after{
    box-sizing: inherit;
}

body{
background-image: url(https://d1di2lzuh97fh2.cloudfront.net/files/4c/4c5/4c5fs8.jpg?ph=4ab7110501);
}
img{
    width: 100%;
}


.nustros-productos{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.productos{
   display: grid;
   grid-template-columns: repeat(3,1fr);

   
}
.producto{
    background-color: rgba(255, 55, 55, 0.768);;
    margin: 2rem;
    padding: 2rem;
}

.producto-blanco{
    background-color: white;
    height: 40rem;
    object-fit: contain;
    padding: 1rem;
}

.producto-precio,
.producto-nombre{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}

.producto-precio{
    font-size: 2.5rem;
    font-weight: 500;
}
.producto-nombre{
    font-size: 3rem;
    font-weight: 800;
}




